.chat__box {
  background-color: #001f8b;
  position: relative;
  padding: 20px;
}

.chat__box > textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  padding-right: 40px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.send__button {
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 40%;
  right: 30px;
  cursor: pointer;
}

.note {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}
.note p {
  white-space: pre-wrap;
}
.note__footer {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 10px;
}
.note__footer > span {
  font-weight: 500;
  color: #353535;
  font-size: var(--text-sm);
}

.note__actions {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

.note:hover .note__actions {
  display: block;
}
