.app__name {
  margin-bottom: 40px;
  text-align: center;
}

.app__name__link {
  text-decoration: none;
  color: #000;
  font-size: var(--text-xl);
  font-weight: 600;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.app__name__link > img {
  width: 40px;
  aspect-ratio: 1;
}

.sidebar {
  width: 100%;
  max-width: 400px;
  padding-top: 20px;
  height: 100%;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.447);
  position: relative;
}
.sidebar__chat_cards {
  overflow-y: auto;
  height: 85vh;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 700px;
    display: var(--chat);
  }
}
