.chat__card {
  padding: 10px 40px;
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: black;
}
.chat__card:hover {
  background: rgba(47, 47, 47, 0.17);
  border-radius: 25px;
}

.chat__card__selected {
  background: rgba(47, 47, 47, 0.17);
  border-radius: 25px;
}

.chat__card__profile {
  width: var(--profile-size);
  height: var(--profile-size);
  background-color: var(--chat-profile-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 500;
  color: white;
  font-size: var(--text-lg);
}
.chat__card__title {
  font-weight: 600;
  font-size: var(--text-lg);
}
