.chat__card {
  padding: 10px 20px;
  display: flex;
  gap: 25px;
  align-items: center;
  width: 100%;
}

.chat__card__selected {
  background: rgba(47, 47, 47, 0.17);
  border-radius: 16px;
}

.chat__card__profile {
  width: 68px;
  height: 68px;
  background-color: var(--chat-profile-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 500;
  color: white;
  font-size: 24px;
}
.chat__card__title {
  font-weight: 600;
  font-size: 24px;
}
